.form-container {
    margin: 20px;
}

input {
    text-align: center;
    margin-left: 20px;
    border: 0px;
    border-bottom: 1px solid #9e9e9e;
    transition: border-bottom, box-shadow .25s ease-in-out;
}

input:focus {
    border-bottom: 1px solid #282c34;
    box-shadow: 0 1px 0 0 #282c34;
    outline: 1px solid transparent;
}